h1 {
    color: blue;
 
}
p {
    font-style: italic;
}
h2 {
  color: blue;
  font-style: italic;
}
p {
  font-family: sans-serif;
}
body {
    background-color: yellowgreen;
}
h3 {
    color: blue;
    font-style: italic;
}
ul {
    line-height: 30px;
}
h4{
    color: blue;
    font-style: italic;
p {
    font-family: sans-serif;
}
ol {
    line-height: 30px;
}
