img {
    float: left;
}
h1 {
    color: blue;
 
}
.sidebar {
    width: 30%;
    float: left;
    background-color: yellowgreen;
}
p {
    font-style: italic;
}
.line1 {
    color: purple;
}
#line2 {
    color: purple;
}
.line1 {
    color: orangered
}
     h2 {
  color: blue;
  font-style: italic;
}
p {
  font-family: sans-serif;
}
body {
    background-color: yellowgreen;
}
.love {
    color: red;
    font-size: 20px;
}
p .love {
    font-size: 15px;
}
.love {
    color: blue;
}
.codding {
    color: blue;
h3 {
    color: blue;
    font-style: italic;
}
ul {
    line-height: 30px;
}
h4{
    color: blue;
    font-style: italic;
p {
    font-family: sans-serif;
}
ol {
    line-height: 30px;
}
